<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="simple_box">
<!--    
    <link name="world"/>

    <joint name="object_world_joint" type="fixed">
        <parent link="world"/>
        <child link="object_link"/>
        <axis xyz="0 0 1" />
        <origin xyz="0 0 0" rpy="0 0 0"/>
    </joint>
-->
    <link name="object_link">
        <inertial>
            <origin xyz="0 0 0" />
            <mass value="1.0" />
            <inertia ixx="0.0006" ixy="0.0" ixz="0.0" iyy="0.0006" iyz="0.0" izz="0.0006" />
        </inertial>
        <visual>
            <origin xyz="0 0 0"/>
            <geometry>
                <box size="0.06 0.06 0.06" />
            </geometry>
        </visual>
        <collision>
            <origin xyz="0 0 0"/>
            <geometry>
                <box size="0.06 0.06 0.06" />
            </geometry>
        </collision>
    </link>
<!--
    <gazebo reference="world">
        <gravity>0</gravity>
    </gazebo>
-->
    <gazebo reference="object_link">
        <material>Gazebo/Blue</material>
    </gazebo>
</robot>
